* {
    margin: 0;
    padding: 0;
    max-width: 100%
}

body {
    font-family: 'Source Code Pro', monospace;
}

h2 {
    color: white;
    font-weight: bold;
}


/****header***/

.logo {
    color: crimson;
    grid-area: logo;
    font-size: 25px;
    text-align: start;
    text-shadow: 0 3px #F7B426;

}

header {
    display: grid;
    grid-column: 1fr 1.5fr 0.5fr;
    background: linear-gradient(to right,white, #FA220E);
    background-color: white;
    width: 100%;
    grid-template-areas: "logo nav whatsapp";
    padding: 10px;
}

nav ul li {
    display: inline;
    grid-area: nav;
    font-size: 25px;
    color: rgb(12, 11, 11);


}

ul li :hover {
    color: gold;
}

nav a {
    color: rgb(8, 8, 8);
    text-decoration: none;

}

button {
    font-size: 25px;
    background: none;
    color: black;
    border: none;


}

/***menu desplegable***/

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 120px;
}

.dropdown-content a {
    display: block;
    color: rgb(8, 8, 8);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    background: linear-gradient(to right,white, #FA220E);

}

.dropdown-content a:hover {
    color: gold;
    
}

.whatsapp a {
    grid-area: whatsapp;
    text-decoration: none;

}


/*********************main********************/

.animate__bounceIn {
    display: grid;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    grid-area: h2-main;
}
/***video****/

video {
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}


main {
    display: grid;
    grid-template-columns: 50rem;
    grid-template-rows: 15rem 25rem 15rem;
    grid-template-areas: "";

}