* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Bungee Shade', cursive;
}


h2 {
    color: white;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    grid-area: h2;
}

h3 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

h6 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1rem;
    color: white;
}




/****header***/

.logo {
    color: rgb(10, 10, 10);
    grid-area: logo;
    font-size: 2rem;
    text-align: start;
}

header {
    display: grid;
    grid-column: 1fr 1.5fr 0.5fr;
    background-color: white;
    width: 100%;
    grid-template-areas: "logo nav whatsapp";
    padding: 10px;
}

nav ul li {
    display: inline;
    grid-area: nav;
    font-size: 25px;
    color: rgb(12, 11, 11);
    font-family: 'Bungee Shade', cursive;
}

ul li :hover {
    color: gold;
}

nav a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}

button {
    font-size: 25px;
    background: none;
    color: black;
    border: none;
    font-family: 'Bungee Shade', cursive;
}

/***menu desplegable***/

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 120px;
}

.dropdown-content a {
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    background: none;
}

.dropdown-content a:hover {
    color: gold;
}

.whatsapp a {
    grid-area: whatsapp;
    text-decoration: none;
}


/*********************main********************/

main {
    margin-top: 3rem;
    margin-left: 2rem;

    
}

.animate__bounceIn {
    animation-timing-function: ease-in;
    animation-delay: 1s;
}

/***video****/

video {
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.intro {

    grid-area: intro;
    border: 2px solid white;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 1px 2px gold;
    border-radius: 10px;
    height: 25rem;
    width: 20rem;
    margin-left: 8rem;


}

.certif {
    grid-area: certif;
    border: 2px solid white;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 1px 2px gold;
    border-radius: 10px;
    height: 24rem;
    width: 20rem;
}

.fotos {
    grid-area: fotos;
}

.prono {
    grid-area: prono;
}


/*******footer**********/

footer {
    display: grid;
    background-color: black;
    grid-row: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "legales . redes";margin-top: 2rem;

}
.redes a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
   
}

.redes {
    grid-area: redes; 
    text-align: center;
    margin-top: 1rem;
}
.legales {
    grid-area: legales;
    margin-left: 1rem;
    justify-content: right;
    border: 1px solid gold;
    text-align: center;
   

}