* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Bungee Shade', cursive;
}


h2 {
    color: white;
    font-weight: bold;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 2rem;

}

h3 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: gold;
}

h6 {
    font-size: medium;
}

/****header***/

.logo {
    color: rgb(10, 10, 10);
    grid-area: logo;
    font-size: large;
    text-align: start;
    padding: 2rem
}

header {
    display: grid;
    grid-column: 1fr 1.5fr 0.5fr;
    background-color: white;
    border-radius: 4rem;

    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-areas: "logo nav whatsapp";
    padding: 10px;
}

nav ul li {
    display: inline;
    grid-area: nav;
    font-size: 25px;
    color: rgb(12, 11, 11);
    font-family: 'Bungee Shade', cursive;
}

nav ul li :hover {
    color: gold;
}

nav a {
    color: rgb(8, 8, 8);
    text-decoration: none;
}

button {
    font-size: 25px;
    background: none;
    color: black;
    border: none;
    font-family: 'Bungee Shade', cursive;
}

/***menu desplegable***/

.boton {
    display: inline-block;
    position: relative;
}

.boton-menu {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.boton:hover .boton-menu {
    display: block;
    width: 10rem;
    background-color: white;
}

.boton-menu a {
    font-family: 'Bungee Shade', cursive;
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    background: none;
}

.boton-menu a:hover {
    color: gold;
}

.whatsapp a {
    grid-area: whatsapp;
    text-decoration: none;
    position: fixed;
}


/*********************main********************/

main {
    margin-top: 3rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 0, 5fr 2fr 1fr;
    grid-template-areas: "boxes boxes" "fotos fotos" " animacion prono" "footer footer";


}

.animate__bounceIn {
    animation-timing-function: ease-in;
    animation-delay: 1s;
    grid-area: animacion;
    margin-top: 10rem;

}

video {
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.boxes {
    grid-area: boxes;
    display: flex;
    justify-content: space-around;
}

.intro {

    border: 2px solid white;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 1px 2px gold;
    border-radius: 10px;
    height: 25rem;
    width: 20rem;
    margin-left: 3rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;

}

.certif {

    border: 2px solid white;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 1px 2px gold;
    border-radius: 10px;
    height: 24rem;
    width: 20rem;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

.faq ul {

    font-family: 'Gloria Hallelujah', cursive;
    list-style: none;
    font-weight: bold;
    border: 2px solid white;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 1px 2px gold;
    border-radius: 10px;
    height: 27rem;
    width: 20rem;
}

.fotos {
    grid-area: fotos;
    padding-top: 5rem;
    display: flex;
    justify-items: flex-start;
}

.prono {
    grid-area: prono;

}

/*******footer**********/

footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px double gold;

}

.legales {
    margin-left: 1rem;
    margin-top: 3rem;

}

.redes ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 2rem;
    margin-top: 2rem;
}

.redes a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}